body {
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "outfit";
}

img {
  border-radius: 10px;
  margin: 15px;
  width: 300px;
}

h2 {
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

p {
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin: auto;
  color: darkgrey;
}

div {
  width: 330px;
  height: 530px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
